<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Take notes Suceeded</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />

</head>
<body style="background-position: center; height: 400%; margin-top: 100px; background-repeat: no-repeat; background-size: cover; 
background-image: url('https://i.pinimg.com/originals/da/06/83/da0683982d739ed3f7e5a9ab5136f61e.jpg')">
	<div class="container text-center">
		<div>
			<h3 style= "margin-top: 100px">Success!</h3>
			<h4 style= "margin-top: 40px">
				<a th:href="@{/takenotes}">Review Notes</a>
			</h4>
		</div>
	</div>
</body>
</html>